<header
  class="w-full py-3 px-6 bg-[#3A86FF] text-white shadow-md grid grid-cols-3 items-center"
>
  <!-- Logo à gauche -->
  <div class="flex items-center gap-2">
    <a routerLink="/" class="flex items-center gap-2">
      <img
        src="assets/logo-cohaby-blanc-sansfond.png"
        alt="Logo Cohaby"
        class="h-20 w-auto cursor-pointer"
      />
    </a>
  </div>

  <!-- Titre centré -->
  <div class="text-center leading-tight">
    <a routerLink="/" class="block hover:underline">
      <h1
        class="text-2xl font-bold tracking-wide"
        style="margin-bottom: 0 !important"
      >
        Cohaby
      </h1>
    </a>
    <p class="text-base font-light">Votre espace de coliving idéal</p>
  </div>

  <!-- Boutons à droite -->
  <div class="flex justify-end items-center gap-3">
    @if (!isLoggedIn) {
    <a routerLink="/login" class="hover:underline font-medium text-base">
      Se connecter
    </a>
    <a
      routerLink="/register"
      class="bg-white text-[#3A86FF] px-3 py-1 rounded-full font-semibold text-base hover:bg-gray-100 transition"
    >
      S’inscrire
    </a>
    } @else {
    <button
      (click)="logout()"
      class="bg-white text-[#3A86FF] px-3 py-1 rounded-full font-semibold text-base hover:bg-gray-100 transition"
    >
      Se déconnecter
    </button>
    }
  </div>
</header>
